doctype html
html
	head
		link(rel='stylesheet' type='text/css' href='./styles/styles.css')
		title test
	body
		#graph
		// build:js js/all.js
		script(src='../node_modules/graphosaurus/dist/graphosaurus.js')
		script(src='../bower_components/underscore/underscore-min.js')
		script(src='js/main.js')
		// endbuild