doctype html
html
    head
        link(rel='stylesheet' type='text/css' href='./styles/styles.css')
        
        // build:css styles/addons.css
        link(rel='stylesheet' type='text/css' href='./styles/silkscreen_normal_macroman.css')
        link(rel='stylesheet' type='text/css' href='./styles/silkscreen_bold_macroman.css')
        // endbuild
        title test
    body
        #graph
        // build:js js/all.js
        script(src='../node_modules/graphosaurus/dist/graphosaurus.js')
        script(src='js/graph_augments.js')
        script(src='js/main.js')
        // endbuild

        .infoBoxen#graphInfo
            #graphInfo.infobox
                h4 Graph data
                div
                    em Nodes:
                    span#node_count
                div
                    em Edges:
                    span#edge_count
            #nodeInfo.infobox
                h4 Node data
                div
                    em ID: 
                    span#node_id
                div
                    em X: 
                    span#node_x
                div
                    em Y: 
                    span#node_y
                div
                    em Z: 
                    span#node_z
            #manualPathInfo.infobox
                h4 Path requested
                div
                    em From: 
                    span#from_ui_endpoint_0.unpicked.
                        LMB to pick
                div
                    em To: 
                    span#from_ui_endpoint_1.unpicked.
                        RMB to pick
            #autoPathInfo.infobox
                h4 Path received
                    span#auto_pause_indicator &#9658
                div
                    em From: 
                    span#auto_endpoint_from
                div
                    em To: 
                    span#auto_endpoint_to
                div
                    em Length: 
                    span#auto_path_length
                div
                    ul#auto_edges

        .infoBoxen#connInfo
            #timesInfo.infobox
                h4 Time