html, body
	height 100%
	margin 0
	padding 0
	font-family silkscreennormal
	font-size 10pt
	
#graph
	width 100%
	height 100%
	
#infoBoxen
	position absolute
	top 0
	left 0
	
.infobox
	border 1px solid #bbb
	color #ccc
	padding 1em
	margin 1em
	background rgba(0, 0, 0, 0.4)
	box-shadow: 0px 0px 5px black
	
.infobox div
	margin-left: 1em
	
.infobox h4
	margin 0 0 0.5em

.infobox em
	font-family silkscreenbold
	font-style normal
	color white

#nodeInfo
	width: 150px
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
	
#nodeInfo h4
	color white
	
#autoPathInfo h4
	color #ff4400